{% extends "base.html" %}
{% block content %}

<h2>Dashboard</h2>
<div class="row">
    {% for d in devices %}
    <div class="col-md-2 col-sm-4 col-6 mb-3">
        <div class="card text-center shadow-sm">
            <div class="card-body">
                <h6 class="card-title">{{ d['name'] }}</h6>
                {% if d['status'] == 'online' %}
                    <p class="text-success">Online</p>
                {% else %}
                    <p class="text-danger">Offline</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
