{% extends "base.html" %}
{% block content %}

<h2>Dashboard</h2>
<div class="row row-cols-1 row-cols-md-6 g-3">
    {% for d in devices %}
    <div class="col">
        <div class="card text-center p-2">
            <div class="card-header">{{ d[1] }}</div>
            <div class="card-body">
                <span class="fw-bold" style="color: {% if status[d[0]]=='online' %}green{% else %}red{% endif %};">
                    {% if status[d[0]] %}{{ status[d[0]]|capitalize }}{% else %}unbekannt{% endif %}
                </span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
