<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="p-5">

<h2>Login</h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="mt-2 alert alert-danger">
        {% for message in messages %}{{ message }}<br>{% endfor %}
    </div>
  {% endif %}
{% endwith %}

<form method="post" class="w-25">
    <div class="mb-3">
        <label class="form-label label text-white">Username</label>
        <input type="text" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label label text-white">Password</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    <button class="btn btn-primary">Login</button>
</form>

</body>
</html>
