{% extends "base.html" %}
{% block content %}

<h2>Settings</h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="mt-2 alert alert-info">
        {% for message in messages %}{{ message }}<br>{% endfor %}
    </div>
  {% endif %}
{% endwith %}

<form method="post" class="row g-3">
    <div class="col-md-4">
        <label for="interval" class="form-label">Prüfintervall (Minuten)</label>
        <input type="number" class="form-control" id="interval" name="interval" value="{{ interval }}" min="1" required>
    </div>
    <div class="col-12">
        <button class="btn btn-primary">Speichern</button>
    </div>
</form>

{% endblock %}
