{% extends "base.html" %}
{% block content %}

<h2>Settings</h2>

<form method="post" class="row g-2">
    <div class="col-auto">
        <label for="interval" class="form-label white">Prüfintervall (Minuten):</label>
        <input type="number" name="interval" id="interval" class="form-control" value="{{ interval }}" min="1" required>
    </div>
    <div class="col-auto align-self-end">
        <button type="submit" class="btn btn-success">Speichern & Service neustarten</button>
    </div>
</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="mt-2 alert alert-info">
        {% for message in messages %}{{ message }}<br>{% endfor %}
    </div>
  {% endif %}
{% endwith %}

{% endblock %}
