body {
    padding: 20px;
    background: #3c4346;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

.table-dark {
    background-color: #343a40 !important;
    color: #fff !important;
}

.badge {
    font-size: 0.9rem;
}

pre {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    max-height: 600px;
    overflow-y: scroll;
}

.mb-3 a.btn {
    margin-right: 5px;
}

.device-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
    min-width: 150px;
}

.device-name {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.status-online {
    color: green;
    font-weight: bold;
}

.status-offline {
    color: red;
    font-weight: bold;
}

.content-wrapper {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.navbar-container {
    display: flex;
    justify-content: space-between; /* Logo links, Navbar rechts */
    align-items: center;
    margin-bottom: 1rem;
}

.navbar-buttons .btn {
    margin-right: 0.25rem; /* kleine Lücke zwischen Buttons */
}

.navbar-logo img {
    display: flex;
    justify-content: flex-start;
    height: 60px; /* Logo Höhe, kann angepasst werden */
}

#log-container {
    position: relative;
    height: calc(100vh - 150px); /* Füllt die Seite minus Header */
}

#log-box {
    height: 97%;
    overflow: auto;
    white-space: pre-wrap;
    font-family: monospace;
    border: 1px solid #dee2e6; /* Bootstrap-like border */
    padding: 1rem;
    background-color: #f8f9fa;
}

#refresh-timer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 0.9em;
    color: gray;
}

/* Tabelle anpassen */
.custom-table input,
.custom-table select {
    height: 28px;
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
}

/* Spaltenbreiten */
.custom-table .col-small {
    width: 140px; /* Hostname, Port */
}

.custom-table .col-ip {
    width: 140px; /* IP-Adresse schmaler */
}

.custom-table .col-mac {
    width: 140px; /* MAC-Adresse schmaler */
}


/* Checkbox sichtbar auch bei disabled */
.checkbox-visible:disabled {
    opacity: 1;  /* nicht ausgegraut */
    cursor: not-allowed;
}

/* Aktiv-Label für Neues Gerät */
label.text-white {
    color: white !important;
}


.checkbox-visible:not(:checked) {
    accent-color: #dc3545; /* rot wenn unchecked */
}
.checkbox-visible:disabled {
    cursor: not-allowed;
    opacity: 1; /* verhindert Ausgrauen */
}

.custom-actions {
    margin: auto 0; 
    background: #fff;
}
