body {
    padding: 20px;
}

.table-dark {
    background-color: #343a40 !important;
    color: #fff !important;
}

.badge {
    font-size: 0.9rem;
}

pre {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    max-height: 600px;
    overflow-y: scroll;
}

.mb-3 a.btn {
    margin-right: 5px;
}
